<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}NoTitle{% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">HOME</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'book_list' %}">BOOKS</a></li>
                {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">ADMIN</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% else %}
                <li><a href="{% url 'django_registration_register' %}">REGISTER</a></li>
                <li><a href="{% url 'login' %}">LOGIN</a></li>
                {% endif %}
            </ul>
        </nav>
        {% if user.is_authenticated %}
        <h3>Welcome, {{user.username }}!</h3>
        {% endif %}
    </header>
    {% block content %}
    You've Arrived!!
    {% endblock content %}
</body>
</html>