{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        @import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
    </style>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}NoTitle{% endblock title %}</title>
</head>
<body>
    <div class="grid-container">
        <header>
            <h1>book nook.</h1>
            <nav class="nav">
                <ul>
                    <li><a href="{% url 'home' %}">HOME</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'book_list' %}">BOOKS</a></li>
                    {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">ADMIN</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                    {% else %}
                    <li><a href="{% url 'django_registration_register' %}">SIGN UP</a></li>
                    <li><a href="{% url 'login' %}">SIGN IN</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    <main>
        {% block content %}
        You've Arrived!!
        {% endblock content %}
    </main>
    <footer>
        <p>ehaan || 2019</p>
    </footer>
    <!-- <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@occipitals?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Ed Robertson"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Photo by: Ed Robertson</span></a> -->
    </div>
</body>
</html>